.BackgroundVideo {
  opacity: 0.8;
  position: absolute;
  bottom: 0px;
  min-width: 100%;
  min-height: 800px;
  width: auto;
  height: auto;
  z-index: -20;
  /* left: 50%; */
  /* transform: translateX(-50%); */
}